docker.enabled = true

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    extract_tfbs_as_beds = false
    genome_fasta = "temp_dir/GRCh38_no_alt_GCA_000001405.15.fasta.gz"


    fpscore_matrix = "temp_dir/*.parquet" // false //
    tfbs_prefix_list = "test_data/tf-motif-IDs-sanitized-one-col-only.tsv" // false // 
    

    dataset_id_list = false // "test_data/dataset-list-test.txt" //  
    bam_dir = "test_data/bam_dir"
    

    output_dir = "test_data/output"
    


    // Set the containers to use for each component
    container__bcftools = "sufyazi/bcftools-py"

}