singularity.enabled = true

process {
    beforeScript = 'module load singularity && module load java'
    container = '/home/users/ntu/suffiazi/apps/sifs/bcftools-py.sif'
    executor = 'pbspro'
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    run_mode = "subset"
    subworkflow = false

    genome_fasta = "temp_dir-cluster/refs/GRCh38_no_alt_GCA_000001405.15.fasta.gz"
    bam_dir = "test_data/bam_dir"
    output_dir = "test_data/output"

    fpscore_matrix = false
    dataset_id_list = "test_data/dataset-manifest-test.txt"
    tfbs_prefix_list = "test_data/tf-motif-IDs-sanitized-one-col-only.tsv"

    // Set the containers to use for each component
    // container__bcftools = "sufyazi/bcftools-py"
}

profiles {
    bedfile_extraction {
        params.subworkflow = true
        params.fpscore_matrix = "temp_dir-cluster/test-matrix/*.parquet"
        tfbs_prefix_list = false
    }
}
