singularity.enabled = true

executor {
    name='pbspro'
    queueSize=95
}

process {
    beforeScript = 'module load singularity && module load java'
    container = '/home/users/ntu/suffiazi/apps/sifs/bcftools-py.sif'
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    run_mode = "all"

    genome_fasta = "temp_dir-cluster/refs/GRCh38_no_alt_GCA_000001405.15.fasta.gz"
    bam_dir = "/home/users/ntu/suffiazi/scratch/inputs/tobias-bam-input"
    output_dir = "test_data/output"

    fpscore_matrix = "temp_dir-cluster/test-matrix"
    dataset_id_list = false
}

