docker.enabled = true

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    fpscore_matrix = "/Users/sufyazi/Documents/local-storage/bioinf/repos/tfbs-variant-calling/temp_dir/*.parquet"
    output_dir = "/Users/sufyazi/Documents/local-storage/bioinf/repos/tfbs-variant-calling/test_data/output"
    genome_fasta = "/Users/sufyazi/Documents/local-storage/bioinf/repos/tfbs-variant-calling/temp_dir/GRCh38_no_alt_GCA_000001405.15.fasta.gz"


    // Set the containers to use for each component
    container__bcftools = "sufyazi/bcftools-py"

}