singularity {
    enabled = true
    runOptions = '--bind /home/users/ntu/suffiazi/scratch/inputs/tobias-bam-input:/home/users/ntu/suffiazi/scratch/inputs/tobias-bam-input,/home/users/ntu/suffiazi/scratch/tfbs-variant-calling-nf/bin:/mnt,/home/users/ntu/suffiazi/scratch/tfbs-variant-calling-nf/cluster-input-dir/refs:/refs'
}

executor {
    name = 'pbspro'
    queueSize = 95
}

process {
    beforeScript = 'module load singularity && module load java'
    container = '/home/users/ntu/suffiazi/apps/sifs/bcftools-py.sif'
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    run_mode = "all"

    genome_fasta = "/refs/GRCh38_no_alt_GCA_000001405.15.fasta"
    bam_dir = "/home/users/ntu/suffiazi/scratch/inputs/tobias-bam-input"
    output_dir = "cluster-output-dir/v3"

    fpscore_matrix = "/home/users/ntu/suffiazi/scratch/outputs/tfbs_merged_matrices"
    dataset_id_list = false
}

