profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    fastq_folder = "test_data/fastq"
    manifest = false
    genome_fasta = "test_data/genome_fasta/NC_001422.1.fasta"
    output_folder = "test_data/output"

    // Quality trimming
    min_qvalue = 20
    min_align_score = 40

    // Set the containers to use for each component
    container__cutadapt = "quay.io/biocontainers/cutadapt:3.5--py36hc5360cc_0"
    container__fastqc = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    container__multiqc = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    container__bwa = "quay.io/hdc-workflows/bwa-samtools:latest"
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"

}